Z_OPTIONS_CHECKED ICON res\options_checked.ico

207 DIALOGEX 0, 0, 314, 240
STYLE DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
CAPTION ""
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "MS SHELL DLG"
{
   CONTROL "Appearance options", 100, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 5, 302, 49
   CONTROL "Show event icons", 101, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 14, 142, 14
   CONTROL "Recent events on top", 102, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 26, 142, 14
   CONTROL "Use RTL by default", 103, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 38, 142, 14
   CONTROL "Open event details by Enter", 104, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 14, 142, 14
   //CONTROL "Show events count in menu", 105, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 26, 142, 14
   //CONTROL "Show avatars", 106, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 38, 142, 14

   CONTROL "Formatting options", 200, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 58, 302, 49
   CONTROL "Enable BBCodes", 201, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 67, 142, 14
   CONTROL "Enable SmileyAdd support", 202, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 79, 142, 14
   CONTROL "Enable MathModule support", 203, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 91, 142, 14
   CONTROL "Enable raw RTF support", 204, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 67, 142, 14
   CONTROL "Display changed avatars", 205, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 79, 142, 14

   CONTROL "Message log options", 300, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 111, 302, 37
   CONTROL "Imitate IEView API", 301, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 120, 142, 14
   CONTROL "Group log messages", 302, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 132, 142, 14
   //CONTROL "Disable border", 303, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 120, 142, 14

   CONTROL "Change appearance", 400, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 152, 302, 66
   CONTROL "To change fonts you need to install FontService plugin.", 401, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 23, 164, 270, 10
   CONTROL "Z_OPTIONS_CHECKED", 403, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 23, 174, 21, 20
   CONTROL "FontService is installed. Go to Customize -> Fonts to change settings.", 402, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 174, 259, 10
   CONTROL "Download FontService plugin", 410, "Hyperlink", 0x50030000, 23, 174, 201, 10
   CONTROL "To change icons you need to install IcoLib plugin.", 421, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 23, 184, 270, 10
   CONTROL "Z_OPTIONS_CHECKED", 423, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 23, 194, 21, 20
   CONTROL "IcoLib is installed. Go to Customize -> Icons to change icons.", 422, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 194, 259, 10
   CONTROL "Download IcoLib plugin", 430, "Hyperlink", 0x50030000, 23, 194, 201, 10
   CONTROL "More info on these plugins", 440, "Hyperlink", 0x50030001, 23, 204, 268, 10

   CONTROL "Need more options?", 250, "Hyperlink", WS_CHILD | WS_TABSTOP | 0x1, 23, 220, 268, 10

   CONTROL "Please restart Miranda IM for your changes to take effect.", 999, STATIC, SS_CENTER | NOT WS_VISIBLE, 6, 230, 302, 10
}
