Z_OPTIONS_CHECKED ICON res\options_checked.ico

207 DIALOGEX 0, 0, 314, 240
STYLE DS_FIXEDSYS | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
CAPTION ""
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "MS SHELL DLG"
{
   CONTROL "Grid options", 100, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 5, 302, 62
   CONTROL "Show event icons", 101, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 15, 142, 14
   CONTROL "Recent events on top", 102, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 27, 142, 14
   CONTROL "Use RTL by default", 103, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 39, 142, 14
   CONTROL "Open event details by Enter", 104, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 51, 290, 14
   CONTROL "Imitate IEView API", 105, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 15, 142, 14
   CONTROL "Group log messages", 106, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 27, 142, 14
   //CONTROL "Show avatars", 107, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 39, 142, 14
   CONTROL "Text formatting options", 200, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 71, 302, 50
   CONTROL "Enable BBCodes", 201, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 81, 142, 14
   CONTROL "Enable SmileyAdd support", 202, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 93, 142, 14
   CONTROL "Enable MathModule support", 203, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 105, 142, 14
   CONTROL "Enable raw RTF support", 204, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 81, 142, 14
   CONTROL "Display changed avatars", 205, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 93, 142, 14
   CONTROL "Need more options?",250,"Hyperlink",WS_GROUP | WS_TABSTOP | 0x1,23,128,268,10
   CONTROL "Change appearance", 300, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 140, 302, 80
   CONTROL "Z_OPTIONS_CHECKED", 303, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 23, 163, 21, 20
   CONTROL "Z_OPTIONS_CHECKED", 323, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 23, 188, 21, 20
   CONTROL "To change fonts you need to install FontService plugin.", 301, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 23, 153, 270, 10 
   CONTROL "FontService is installed. Go to Customize -> Fonts to change settings.", 302, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 163, 259, 10 
   CONTROL "Download FontService plugin", 310, "Hyperlink", 0x50030000, 23, 163, 201, 10 
   CONTROL "To change icons you need to install IcoLib plugin.", 321, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 23, 177, 268, 9 
   CONTROL "IcoLib is installed. Go to Customize -> Icons to change icons.", 322, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 188, 259, 10 
   CONTROL "Download IcoLib plugin", 330, "Hyperlink", 0x50030000, 23, 188, 202, 10 
   CONTROL "More info on these plugins", 340, "Hyperlink", 0x50030001, 23, 204, 268, 10 
   CONTROL "Please restart Miranda IM for your changes to take effect.", 999, STATIC, SS_CENTER | NOT WS_VISIBLE, 6, 226, 302, 10
}
