historypp_0 Icon res\historypp_contact.ico
historypp_1 Icon res\historypp_search.ico
historypp_2 Icon res\historypp_session_div.ico
historypp_3 Icon res\sess_session.ico
historypp_4 Icon res\sess_summer.ico
historypp_5 Icon res\sess_autumn.ico
historypp_6 Icon res\sess_winter.ico
historypp_7 Icon res\sess_spring.ico
historypp_8 Icon res\sess_year.ico
CR_HAND Cursor res\cr_hand.cur
